html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: 'Noto Serif Display', serif;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: white;
  font-family: 'Noto Serif Display', serif;
  margin: 0;
  color: black;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 1.8rem;
}


body > main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
}

body > nav {
  grid-area: nav;
  background-color: rgba(36, 229, 255, 0.746);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

nav > h2 {
  font-weight: bold;
}
nav > a {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}

nav > a:visited {
  color: black;
}

nav > a:hover {
  color: rgb(255, 0, 217);
  background-color: rgba(255, 255, 255, 0.783);
}

nav > a.active {
  color: rgba(12, 20, 255, 0.858);
  font-weight: bold;
}

#logout-button {
  background-color: white;
  font-size: medium;
  border: 2px solid black;
}
