<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<form action="/playlists/new" method="POST">
  <label for="name">Name:</label>
  <input type="text"><br>
  <label for="description">Description:</label>
  <input type="text"><br>
  <button type="submit">Create Playlist</button>
</form>

<%- include('../partials/footer') %>


