<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Name of playlist</h1>

<% if ( playlist.owner.equals(user?.profile._id)) { %>
<h3>im here</h3>
<% } %>

<%- include('../partials/footer') %>